*{
    margin: 0;
    padding: 0;
}
.main-color{
    color: #64de8f;
}
.main-bg-color{
    background-color: #64de8f;
}
.nav-bg-color{
    background-color: #ebecf0;
}
.site-font-family{
    font-family: 'Source Sans Pro', sans-serif;
}
.logo-text-gradient {
    background: linear-gradient(to right, red,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.custom-shadow-1{
    box-shadow: inset 1px 1px 2px rgb(170 170 204 / 50%), inset -1px -1px 2px #ffffff;
}
.location span{
    font-size: 18px;
    color: #969bab;
}
.my-form{
    font-weight: 400;
    font-size: 18px;
}
.my-form:focus{
    outline: none !important;
}
.coustom-btn-shadow{
    box-shadow: -5px -5px 10px rgb(255 255 255 / 50%), 5px 5px 10px rgb(170 170 204 / 25%), 10px 10px 20px rgb(193 193 218 / 50%), -10px -10px 20px #ffffff;
}
.map-area button:hover{
    color: #64de8f;
}
.dropdown-toggle::after {
    display: none !important;
}

.baner-section h1{
    font-size: 72px;
    font-weight: 900;
    color: white;
}
.baner-section p{
    font-size: 24px;
    font-weight: 400;
    color: rgba(107, 100, 100, 0.904);
}