*{
    margin: 0;
    padding: 0;
}
.radius-border{
    border-radius: 15px;
}
.main-color{
    color: #64de8f;
}
.main-bg-color{
    background-color: #64de8f;
}
.nav-bg-color{
    background-color: #ebecf0;
}
.site-font-family{
    font-family: 'Source Sans Pro', sans-serif;
}
.logo-text-gradient {
    background: linear-gradient(to right, red,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.custom-shadow-1{
    box-shadow: inset 1px 1px 2px rgb(170 170 204 / 50%), inset -1px -1px 2px #ffffff;
}
.location span{
    font-size: 18px;
    color: #969bab;
}
.my-form{
    font-weight: 400;
    font-size: 18px;
}
.my-form:focus{
    outline: none !important;
}
.coustom-btn-shadow{
    box-shadow: -5px -5px 10px rgb(255 255 255 / 50%), 5px 5px 10px rgb(170 170 204 / 25%), 10px 10px 20px rgb(193 193 218 / 50%), -10px -10px 20px #ffffff;
}
.map-area button:hover{
    color: #64de8f;
}
.dropdown-toggle::after {
    display: none !important;
}

.baner-section h1{
    font-size: 72px;
    font-weight: 900;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.baner-section p{
    font-size: 24px;
    font-weight: 400;
    color: rgba(107, 100, 100, 0.904);
    font-family: 'Source Sans Pro', sans-serif;
}

/***********************************
 Offer section css start from here 
 ***********************************/
 .offer-section h5{
    color: rgba(107, 100, 100, 0.904);
    font-family: 'Source Sans Pro', sans-serif;
 }
 .offer-section p{
    color: #6c757d;
    font-family: 'Source Sans Pro', sans-serif;
 }
 .offer-section span{
     color: white;
     font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
 }
 /***********************************
 Offer section css end here 
 ***********************************/

  /***********************************
 order-process css start from here 
 ***********************************/
#order-process{
    padding: 60px 0px;
    background: linear-gradient(180deg, #64de8f -42.47%, rgba(253, 237, 202, 0) 100%);
    text-align: center;
}
#order-process i{
    font-size: 80px;
    padding: 20px 0px;
}
#order-process h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px 0px;
}
  /***********************************
 order-process css end here 
 ***********************************/

   /***********************************
 popular-item css start from here 
 ***********************************/
.popular-item{
    padding:80px 0px;
}
.popular-item h2{
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px 0px;
}
.popular-item img{
    width: 100%;
}
.popular-item .card-footer{
    cursor: pointer;
}
.popular-item h5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}
/***********************************
 popular-item css end here 
 ***********************************/

/***********************************
 featured-resturants css start from here 
 ***********************************/
 .featured-resturants{
     padding: 60px 0px;
 }
 .featured-resturants h2{
     text-align: center;
     font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 45px;
    padding: 0px 0px 30px 0px;
}
.img-radius{
    border-radius: 15px;
}
.featured-resturants .resturant-btn span{
    font-size: 20px;
    font-weight: 600;
}
.featured-resturants .res-btn{
    text-align: center;
    font-size: 18px;
    color: white;
}
/***********************************
 featured-resturants css end here 
 ***********************************/

.search-food img{
    border-radius: 50%;
}